APP_ENV=development
APP_PORT=3000

DATABASE_URL=postgres://voxlab:voxlab_pass_2024@postgres:5432/voxlab_db?sslmode=disable

REDIS_URL=redis:6379

MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=voxlab_minio_admin
MINIO_SECRET_KEY=voxlab_minio_pass_2024
MINIO_BUCKET=voxlab-media

JWT_SECRET=voxlab_jwt_super_secret_key_2024_change_in_production

LIVEKIT_HOST=http://livekit:7880
LIVEKIT_API_KEY=devkey
LIVEKIT_API_SECRET=secret
